<br>
<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <img src="assets/images/no_image.png" class="img-responsive img-rounded center-block">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <h3>Nguyễn Tấn Đô</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="Overview">
                    <div class="row">
                        <div class="col-xs-12 title-content-tab">Popular</div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="block-project">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam molestias deleniti atque ipsa. Est, aspernatur.
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="block-project">
                                Lorem ipsulorem12m Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio repellendus itaque quasi! tur adipisicing elit. Magnam molestias deleniti atque ipsa. Est, aspernatur.
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="block-project">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et harum delectus voluptatibus aspernatur officiis illo corporis consequuntur, natus nihil porro sit temporibus unde. Atque.
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="block-project">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate officiis et. Consequuntur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam molestias deleniti atque ipsa. Est, aspernatur.
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Information">
                    <div class="row">
                        <div class="col-xs-12 title-content-tab"></div>
                        <table class="table table-hover">
                            
                        </table>
                    </div>   
                </uib-tab>
                <uib-tab index="2" heading="Projects ({{ vm.countProject }})">
                    <br>
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for project">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Search</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="block-project">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam molestias deleniti atque ipsa. Est, aspernatur.
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="block-project">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam molestias deleniti atque ipsa. Est, aspernatur.
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="3" heading="Contributes ({{ vm.countContribute }})">
                    <br>
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for contribute">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Search</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="block-project">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam molestias deleniti atque ipsa. Est, aspernatur.
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="block-project">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam molestias deleniti atque ipsa. Est, aspernatur.
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>