<div class="register" class="md-padding" layout="row">
    <md-content flex-xs="70" flex-sm="70" flex-md="50" flex-gt-md="30">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Sign up for TeamCode</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <form name="formSignup" ng-submit="vm.register()">
                    <div layout-gt-sm="column">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Username</label>
                            <input type="text" id="username" name="username" minlength="5" md-maxlength="100" ng-model="vm.user.username" required>
                            <div ng-messages="formSignup.username.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'md-maxlength']">
                                    Your password must be between 5 and 100 characters long.
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Email</label>
                            <input type="email" minlength="10" md-maxlength="100" required id="email" name="email" ng-model="vm.user.email" ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
                            <div ng-messages="formSignup.email.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'md-maxlength', 'pattern']">
                                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Password</label>
                            <input type="password" id="password" name="password" minlength="1" md-maxlength="100" ng-model="vm.user.password" required>
                            <div ng-messages="formSignup.email.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'md-maxlength']">
                                    Your password must be between 1 and 100 characters long.
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Confirm Password</label>
                            <input type="password" id="confirm_password" name="confirm_password" minlength="1" md-maxlength="100" ng-model="vm.user.confirm_password" required>
                            <div ng-messages="formSignup.confirm_password.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'md-maxlength']">
                                    Your password must be between 1 and 100 characters long.
                                </div>
                            </div>
                        </md-input-container>

                        <div layout="column">
                            <md-button type="submit" name="action" class="md-block md-raised" ng-disabled="formSignup.$invalid">Sign up</md-button>
                        </div>
                    </div>
                </form>
                <p class="register-account md-body-1">Already have an account? <a ui-sref="blank.login">Sign in</a></p>

            </md-card-content>
        </md-card>
    </md-content>
</div>